if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

use flake

export INFLUXD_BOLT_PATH=$PWD/.influxdb2/influxd.bolt
export INFLUXD_ENGINE_PATH=$PWD/.influxdb2/engine
export INFLUXD_SQLITE_PATH=$PWD/.influxdb2/influxd.sqlite
